/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Heading Styles */
h1, h2 {
    font-weight: 700;
    color: #005f73;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
}

/* About Me Section */
#about-me {
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    flex-shrink: 0;
}

.about-me-text {
    flex-grow: 1;
    flex-basis: 50%;
}

/* Other Sections */
section {
    background-color: #fff;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #333;
    color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .profile-pic {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }

    .about-me-text {
        flex-basis: 100%;
    }

    h1, h2 {
        font-size: smaller;
    }
}
